alter table Usuarios
add userId varchar(128)

INSERT INTO Usuarios
VALUES(1,1,'','Ricardo', 'Eslava', 'Ventura', '', 1, '', 'ricardo.eslava89@gmail.com', '', 1, 'c7eee1b2-76c0-42e4-9926-ed4c840374bb')
